* {
    box-sizing: border-box;
}

html,
.grid-body {
    padding: 0;
    margin: 0;
}

.polly-grid-body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.polly-grid-table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    /*border: 1px solid black;*/
}

.polly-grid-header,
.polly-grid-body,
.polly-grid-tr {
    display: contents;
}

.polly-grid-th,
.polly-grid-td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*text-overflow: clip;*/
    white-space: nowrap;
    /*white-space: break-spaces;*/
    color: black;
    border: 1px solid #495057;
}

.polly-grid-th {
    position: sticky;
    top: 0;
    background: #495057;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    color: whitesmoke;
}

.polly-grid-th:last-child {
    border: 0;
}

.polly-grid-tr:nth-child(even) .polly-grid-td {
    background: #e9ecef;
    /*gender, email, name, birthday, phone, picture    */
}

.polly-grid-container {
    width: 45%;
    position: relative;
    margin-top: 20px;
    /*+ load table and search*/
}

.polly-table-container {
    margin-top: 10px;
    text-align: center;
    /*border to displayData*/
}

.polly-grid-div {
    height: 50px;
    display: flex;
    align-items: center;
    /*title itself*/
}

.polly-grid-th-sort-icon {
    margin-left: 8px;
}

.polly-grid-th {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.polly-grid-input {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    /*search*/
}

.two-table-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}